* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffeece;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(190, 190, 190, 0.753);
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background: rgb(82, 82, 82);
}

a {
    text-decoration: none;
    color: #9b9b9b;
}

nav {
    background-color: #1b1b1b;
    position: fixed;
    width: 100%;
    z-index: 1;

}

.ul-nav-main {
    display: -webkit-box;
    list-style: none;
    font-size: 0.6vw;
    font-family: "SF Compact Display Thin";
    box-shadow: 0 1px 20px -5px;

}

.ul-nav-main li {
    margin: 10px;
}

.nav-itm-title {
    font-family: "SF Compact Display Medium";
    color: #cecece;
}

.nav-itm {
    color: #9b9b9b;
    transition: 400ms;
}

.nav-itm:hover {
    cursor: pointer;
    transform: translateY(-5px);
    color: #c5c5c5;
}


.container-products {
    background: #f0f0f0;
    ;
    width: 100%;
    position: relative;
    top: 24px;
}

.wrapper {
    margin: 0 11vw;
}


.post-livro {
    position: relative;
    top: 95px;
}

.wrapper-form-b {
    padding: 140px 0;
}

.form-book {
    padding: 21px 0;
}

.in-b-form {
    width: 28.7%;
    padding: 10px;
    margin: 10px;
    font-size: 1.3vw;
    border-radius: 5px;
    border: none;
    background: #333333;
    color: #e4e4e4;
    transition: 500ms;
}

.in-b-form:focus {
    transform: scale(1.05);
    background: #717171;
}

.in-b-form:nth-child(3) {
    font-size: 1.1vw
}

.in-b-form button {
    display: none;
    background: #111;
}

.title-products-container {
    position: relative;
    top: 63px;
    left: 5px;
    margin-bottom: 60px;
}

.title-products-container h1 {
    font-size: 6vw;
    font-family: "SF Compact Display Thin";
    color: #b7b7b7;
    font-weight: 100;
}


.row-products {
    position: relative;
    display: grid;
    gap: 23px;
    grid-auto-rows: minmax(126px, auto);
    grid-template-columns: repeat(5, 1fr);

}


.card-product-book {
    border-radius: 10px;
    border: none;
    background-color: #737c88;

    margin: 50px 0;
    width: 100%;
    padding: 5px;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 0 1px 10px -5px;
    filter: brightness(70%);
}

.card-product-book:hover {
    box-shadow: 0 1px 20px -5px;
    filter: brightness(100%);
    transform: scale(1.06);
}

.title-card-product {
    font-family: "SF Compact Display Medium";
    font-size: 0.9vw;
    margin: 10px;
}

.title-card-product h1 {
    color: #e7e7e7;
    font-weight: 100;
    font-size: 2vw;
}

.title-card-product h2 {
    font-family: "SF Compact Display Thin";
    font-size: 1.5vw;
    color: #ffffffa9;
}

.content-card-product {
    transition: all .8s cubic-bezier(0.77, 0, 0.175, 1);
    filter: brightness(90%);
}

.content-card-product:hover {
    filter: brightness(100%);


    transform: scale(1.04);
}

.card-product-book img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 22vw;
}

.card-product-book img::after {
    content: '';
    position: absolute;
    z-index: -1;
    filter: blur(20px);
}

.carousel img {
    object-fit: cover;
}

.marcas {
    top: 145px;
    position: relative;
    padding-bottom: 321px;
}

.card-marcas {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 6.4vw;
}

.content-img img {
    object-fit: contain;

    width: 8vw;

    border-radius: 12px;

    height: 6.2vw;

    background: #e3e3e3;
    transition: 100ms;

    box-shadow: 0 1px 20px -20px;
}

.content-img img:hover {
    background: rgb(172, 172, 172);
    box-shadow: 0 1px 20px -10px;
}

.ul-fluid {
    list-style: none;
    display: -webkit-inline-box;
    width: 100%;
    background: ;
    border-radius: 10px;
    overflow: auto;
}

.ul-fluid li {}

.btn-send-book {
    border: none;
    font-size: 1.5vw;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background: #c8c8c8;
    transition: 500ms;
    box-shadow: 0 1px 20px -6px black;
}

.btn-send-book:hover {
    background: #4b4b4b;
    box-shadow: 0 1px 20px -6px;
    color: white;
}